.top-navigation-wrapper, .top-navigation-wrapper a{ color: #c2c2c2; } 
div.top-search-wrapper input[type="submit"]{ border-color: #bababa; } 
div.top-search-wrapper input[type="text"]{ color: #62717a; } 
div.top-search-wrapper input[type="text"]{ background-color: #8e999c; } 
.sf-menu li a{ color: #ffffff; } 
.sf-menu li a:hover{ color: #ffffff; } 
.sf-menu li.current-menu-ancestor a, .sf-menu li.current-page-ancestor a, .sf-menu li.current-menu-item a, .sf-menu li.current-post-ancestor a{ color: #ffffff; } 
.gdl-current-menu{ background-color: #f58345; } 
ul.sf-menu li li{ background-color: #61717a; } 
ul.sf-menu li.sfHover ul li:first-child a{ border-top-color: #ffffff; } 
ul.sf-menu li li a, ul.sf-menu li.current-menu-item li a, ul.sf-menu li.current-menu-ancestor li a, ul.sf-menu li.current-page-ancestor li a, ul.sf-menu li li.current-menu-item li a, ul.sf-menu li li.current-menu-ancestor li a, ul.sf-menu li.current-post-ancestor li a, div.floating-nav-wrapper ul.sf-menu li li a, div.floating-nav-wrapper ul.sf-menu li.current-menu-item li a, div.floating-nav-wrapper ul.sf-menu li.current-menu-ancestor li a, div.floating-nav-wrapper ul.sf-menu li.current-page-ancestor li a, div.floating-nav-wrapper ul.sf-menu li li.current-menu-item li a,  div.floating-nav-wrapper ul.sf-menu li li.current-menu-ancestor li a, div.floating-nav-wrapper ul.sf-menu li.current-post-ancestor li a{ color: #c1c1c1; } 
ul.sf-menu li li a:hover, ul.sf-menu li li.current-menu-item li a:hover, .sf-menu li li.current-menu-ancestor li a:hover, .sf-menu li li.current-page-ancestor li a:hover, div.floating-nav-wrapper ul.sf-menu li li a:hover, div.floating-nav-wrapper ul.sf-menu li li.current-menu-item li a:hover, div.floating-nav-wrapper .sf-menu li li.current-menu-ancestor li a:hover, div.floating-nav-wrapper .sf-menu li li.current-page-ancestor li a:hover{ color: #f2f2f2; } 
ul.sf-menu li li.current-menu-item a, ul.sf-menu li li.current-menu-ancestor a, ul.sf-menu li li.current-page-ancestor a, ul.sf-menu li li.current-menu-ancestor li.current-menu-item a, ul.sf-menu li li.current-page-ancestor li.current-menu-item a, ul.sf-menu li li.current-post-ancestor adiv.floating-nav-wrapper ul.sf-menu li li.current-menu-item a, div.floating-nav-wrapper ul.sf-menu li li.current-menu-ancestor a, div.floating-nav-wrapper ul.sf-menu li li.current-page-ancestor a, div.floating-nav-wrapper ul.sf-menu li li.current-menu-ancestor li.current-menu-item a, div.floating-nav-wrapper ul.sf-menu li li.current-page-ancestor li.current-menu-item a, div.floating-nav-wrapper ul.sf-menu li li.current-post-ancestor a{ color: #f2f2f2; } 
div.page-header-overlay{ background-color: #62717a; } 
.page-header-title{ color: #ffffff; } 
div.page-header-caption{ color: #ffffff; } 
h3.gdl-header-title{ color: #62717a; } 
div.gdl-header-wrapper i{ color: #62717a; } 
h1, h2, h3, h4, h5, h6{ color: #62717a; } 
body{ color: #505050; } 
html{ background-color: #ffffff; } 
a{ color: #f58345; } 
a:hover{ color: #62717a; } 
::selection, ::-moz-selection{ color: #ffffff; } 
::selection, ::-moz-selection{ background-color: #62717a; } 
.sidebar-wrapper a{ color: #f58345; } 
.sidebar-wrapper a:hover{ color: #f58345; } 
div.sidebar-wrapper ul li{ background-color: #f7f7f7; } 
.custom-sidebar-title, .custom-sidebar-title a{ color: #62717a; } 
.sidebar-wrapper .recent-post-widget-info, .sidebar-wrapper #twitter_update_list{ color: #a5a5a5; } 
div.gdl-blog-list .blog-media-wrapper, div.recent-port-widget .recent-port-widget-thumbnail, div.recent-post-widget .recent-post-widget-thumbnail, div.custom-sidebar .flickr_badge_image{ background-color: #f1f1f1; } 
div.gdl-blog-list .blog-media-wrapper, div.recent-port-widget .recent-port-widget-thumbnail, div.recent-post-widget .recent-post-widget-thumbnail, div.custom-sidebar .flickr_badge_image{ border-color: #e3e3e3; } 
.tagcloud a, .tagcloud a:hover{ color: #ffffff; } 
.tagcloud a{ background-color: #f58345; } 
div.footer-twitter-wrapper{ background-color: #f58345; } 
div.footer-twitter-wrapper, div.footer-twitter-wrapper a{ color: #ffffff; } 
.footer-wrapper a{ color: #ffffff; } 
.footer-wrapper a:hover{ color: #afafaf; } 
.footer-wrapper .custom-sidebar-title, .footer-wrapper .custom-sidebar-title a{ color: #f58345; } 
.footer-wrapper, .footer-wrapper table th{ color: #a5a5a5; } 
.footer-wrapper .recent-post-widget-info, .footer-wrapper #twitter_update_list{ color: #969696; } 
div.footer-wrapper{ background-color: #62717a; } 
div.footer-wrapper *{ border-color: #032833; } 
div.footer-wrapper div.contact-form-wrapper input[type="text"], div.footer-wrapper div.contact-form-wrapper input[type="password"], div.footer-wrapper div.contact-form-wrapper textarea, div.footer-wrapper div.custom-sidebar #search-text input[type="text"]{ color: #9e9e9e; } 
div.footer-wrapper div.contact-form-wrapper input[type="text"], div.footer-wrapper div.contact-form-wrapper input[type="password"], div.footer-wrapper div.contact-form-wrapper textarea, div.footer-wrapper div.custom-sidebar #search-text input[type="text"]{ background-color: #3a3a3a; } 
div.footer-wrapper div.contact-form-wrapper input[type="text"], div.footer-wrapper div.contact-form-wrapper input[type="password"], div.footer-wrapper div.contact-form-wrapper textarea, div.footer-wrapper div.custom-sidebar #search-text input[type="text"]{ border-color: #444444; } 
.footer-wrapper .contact-form-wrapper button{ color: #ffffff; } 
.footer-wrapper .contact-form-wrapper button{ background-color: #f58345; } 
div.footer-wrapper .personnal-widget-item .personnal-widget-info{ color: #e5e5e5; } 
div.footer-wrapper .tagcloud a, div.footer-wrapper .tagcloud a:hover{ color: #ffffff; } 
div.footer-wrapper .tagcloud a{ background-color: #f58345; } 
div.footer-wrapper div.recent-port-widget .recent-port-widget-thumbnail, div.footer-wrapper div.recent-post-widget .recent-post-widget-thumbnail,div.footer-wrapper .custom-sidebar .flickr_badge_image{ background-color: #62717a; } 
div.footer-wrapper .copyright-border{ border-top-color: #1e1e1e; } 
div.footer-wrapper .copyright-border{ border-bottom-color: #494949; } 
.copyright-wrapper{ color: #999999; } 
div.copyright-scroll-top{ background-color: #4b4b4b; } 
div.gdl-top-slider{ background-color: #f2f2f2; } 
.ls-packagetour .ls-nav-prev, .ls-packagetour .ls-nav-next,div.gdl-top-slider .flex-direction-nav li .flex-prev, div.gdl-top-slider .flex-direction-nav li .flex-next,div.gdl-top-slider .nivo-directionNav a.nivo-prevNav, div.gdl-top-slider .nivo-directionNav a.nivo-nextNav{ background-color: #62717a; } 
h2.gdl-slider-title{ color: #ffffff; } 
h2.gdl-slider-title{ background-color: #f58345; } 
div.gdl-slider-inner-caption{ color: #ffffff; } 
div.gdl-slider-inner-caption{ background: #61717a; } 
.ls-packagetour .ls-bottom-slidebuttons, .flex-control-nav, .nivo-controlNav{ background-color: #053341; } 
.ls-packagetour .ls-bottom-slidebuttons a, .flex-control-nav li a, .nivo-controlNav a, div.anythingSlider .anythingControls ul a{ background-color: #787878; } 
.ls-packagetour .ls-bottom-slidebuttons a.ls-nav-active, .ls-packagetour .ls-bottom-slidebuttons a:hover.flex-control-nav li a:hover, .flex-control-nav li a.flex-active, .nivo-controlNav a:hover, .nivo-controlNav a.active, div.anythingSlider .anythingControls ul a.cur, div.anythingSlider .anythingControls ul a:hover { background: #ffffff; } 
.flex-carousel.carousel-included{ background-color: #62717a; } 
.under-slider-wrapper .under-slider-title{ color: #ffffff; } 
.under-slider-wrapper .under-slider-caption{ color: #e1e1e1; } 
div.under-slider-wrapper .under-slider-button{ background-color: #4c4c4c; } 
div.under-slider-wrapper .under-slider-button{ color: #ffffff; } 
.under-slider-wrapper{ background-color: #f58345; } 
.under-slider-wrapper{ border-color: #d46022; } 
h1.stunning-text-title{ color: #f58345; } 
.stunning-text-caption{ color: #606060; } 
h2.blog-title a, h1.blog-title a, div.portfolio-item .page-item-title a{ color: #62717a; } 
h2.blog-title a:hover, h1.blog-title a:hover, div.portfolio-item .page-item-title a:hover{ color: #9c9c9c; } 
div.blog-info-wrapper, div.blog-info-wrapper a, div.gdl-blog-full .blog-comment, div.gdl-blog-full .blog-comment a, div.gdl-blog-medium .blog-tag, div.gdl-blog-medium .blog-tag a{ color: #9b9b9b; } 
div.gdl-blog-widget .blog-title a, div.gdl-blog-list .blog-title a{ color: #f58345; } 
div.gdl-blog-widget div.blog-info-wrapper, div.gdl-blog-widget div.blog-info-wrapper a, div.gdl-blog-list .blog-date, div.gdl-blog-list .blog-date a{ color: #9b9b9b; } 
.about-author-wrapper{ background-color: #f5f5f5; } 
div.gdl-pagination a{ background-color: #f5f5f5; } 
div.gdl-pagination a{ color: #7b7b7b; } 
div.gdl-pagination a:hover{ background-color: #f58345; } 
div.gdl-pagination a:hover{ color: #ffffff; } 
div.gdl-pagination span{ background-color: #f58345; } 
div.gdl-pagination span{ color: #ffffff; } 
div.portfolio-media-wrapper span.portfolio-thumbnail-image-hover{ background-color: #61717a; } 
.portfolio-item .portfolio-title a{ color: #04242e; } 
.portfolio-item .portfolio-tag a, .portfolio-item .portfolio-tag{ color: #a6a6a6; } 
.portfolio-item .portfolio-context{ background-color: #f3f3f3; } 
.portfolio-item:hover .portfolio-context .portfolio-tag, .portfolio-item:hover .portfolio-context, .portfolio-item:hover .portfolio-context a{ color: #ffffff; } 
.portfolio-item:hover .portfolio-context{ background-color: #f58345; } 
ul.portfolio-item-filter li a{ color: #62717a; } 
div.portfolio-filter-wrapper div.port-current-bar{ border-color: #f58345; } 
div.single-portfolio .port-info{ color: #7a7a7a; } 
div.single-portfolio .port-info .head{ color: #052833; } 
div.portfolio-carousel-wrapper .port-nav, div.portfolio-carousel-description .port-nav, div.single-portfolio .port-nav a, div.blog-carousel-wrapper .blog-nav{ background-color: #f6f6f6; } 
.package-title a{ color: #f58345; } 
div.package-info .package-price{ color: #f58345; } 
div.package-info .discount-text, div.package-info .discount-price, div.package-info .separator{ color: #f58345; } 
.package-item-holder .package-date, .package-item-holder .package-date a, .package-item-holder .package-info{ color: #939393; } 
.package-type, .package-type a{ color: #ffffff; } 
.package-type{ background-color: #f58345; } 
.package-type.last-minute{ background-color: #de6828; } 
.package-type-gimmick{ border-top-color: #62717a; } 
div.gdl-package-full .package-info-wrapper{ background-color: #f7f7f7; } 
div.gdl-package-full .package-info-wrapper{ border-color: #ebebeb; } 
div.gdl-package-full .package-info-wrapper{ color: #939393; } 
div.package-search-wrapper{ background-color: #f5f5f5; } 
div.package-search-wrapper{ border-color: #f2eaea; } 
div.package-search-wrapper input, div.package-search-wrapper select, span.select-package-type{ background-color: #ffffff; } 
div.package-search-wrapper input, div.package-search-wrapper select, span.select-package-type{ color: #a3a3a3; } 
div.package-search-wrapper input, div.package-search-wrapper select, span.select-package-type{ border-color: #e7e7e7; } 
div.package-search-wrapper input[type="submit"]{ border-color: #f58345; } 
div.package-search-wrapper input[type="submit"]{ background-color: #f58345; } 
div.package-search-wrapper input[type="submit"]{ color: #ffffff; } 
div.price-item-inner-wrapper{ background-color: #f9f9f9; } 
div.price-item .price-title-wrapper{ color: #ffffff; } 
div.price-item .price-title-wrapper{ background-color: #61717a; } 
div.price-item .price-tag{ color: #ffffff; } 
div.price-item .price-tag{ background-color: #838383; } 
div.best-price .price-tag{ color: #ffffff; } 
div.best-price .price-tag{ background-color: #f58345; } 
div.price-item{ color: #5e5e5e; } 
div.price-button-wrapper .gdl-button{ background-color: #f58345; } 
div.price-button-wrapper .gdl-button{ color: #ffffff; } 
div.personnal-item{ background-color: #f9f9f9; } 
div.personnal-item .personnal-position{ color: #9d9d9d; } 
div.personnal-item .personnal-title{ color: #61717a; } 
div.personnal-item .personnal-content{ color: #838383; } 
div.personnal-widget-item .personnal-widget-info{ color: #61717a; } 
ul.gdl-accordion li .accordion-title, ul.gdl-toggle-box li .toggle-box-title{ color: #62717a; } 
ul.gdl-accordion li, ul.gdl-toggle-box li{ background-color: #ffffff; } 
ul.gdl-accordion li, ul.gdl-toggle-box li{ border-color: #f5f5f5; } 
blockquote{ color: #ababab; } 
body blockquote{ border-color: #cfcfcf; } 
a.gdl-button, body button, input[type="submit"], input[type="reset"], input[type="button"]{ background-color: #f58345; } 
a.gdl-button, body button, input[type="submit"], input[type="reset"], input[type="button"]{ color: #ffffff; } 
h2.column-service-title{ color: #62717a; } 
body *{ border-color: #e5e5e5; } 
.scroll-top{ color: #919191; } 
h4.feature-media-title{ color: #f58345; } 
div.progress-bar-wrapper .progress-bar{ background-color: #f58345; } 
div.progress-bar-wrapper{ background-color: #f0f0f0; } 
div.progress-bar-wrapper{ color: #ffffff; } 
table, table tr, table tr td, table tr th{ border-color: #e5e5e5; } 
table th{ color: #666666; } 
table th{ background-color: #fdfdfd; } 
div.gdl-tab ul.gdl-tab-content, div.gdl-tab ul.gdl-tab-title a.active{ background-color: #ffffff; } 
div.gdl-tab ul.gdl-tab-content{ color: #707070; } 
div.gdl-tab ul.gdl-tab-title a.active{ color: #575757; } 
div.gdl-tab ul.gdl-tab-title li a.active{ border-top-color: #f58345; } 
div.gdl-tab ul.gdl-tab-title a{ color: #959595; } 
div.gdl-tab ul.gdl-tab-title a{ background-color: #fafafa; } 
div.gdl-carousel-testimonial .testimonial-content{ color: #9d9d9d; } 
div.gdl-carousel-testimonial .testimonial-info{ color: #656565; } 
div.gdl-carousel-testimonial .testimonial-navigation a{ background-color: #e0e0e0; } 
div.gdl-carousel-testimonial .testimonial-navigation a.activeSlide{ background-color: #c3c3c3; } 
div.gdl-carousel-testimonial .testimonial-content{ background-color: #ffffff; } 
div.gdl-static-testimonial .testimonial-item{ color: #afafaf; } 
div.gdl-static-testimonial .testimonial-item{ border-color: #efefef; } 
div.gdl-static-testimonial .testimonial-info{ color: #848484; } 
.logo-wrapper{ padding-top: 10px; padding-bottom: 18px; } 
div#main-superfish-wrapper{ padding-top: 32px; } 
h1.gdl-header-title{ font-size: 28px; } 
body{ font-size: 14px; } 
h3.custom-sidebar-title{ font-size: 24px; } 
h1{ font-size: 36px; } 
h2{ font-size: 28px; } 
h3{ font-size: 20px; } 
h4{ font-size: 18px; } 
h5{ font-size: 16px; } 
h6{ font-size: 12px; } 
body{ font-family: "Quicksand"; } 
h1, h2, h3, h4, h5, h6, div.price-item .price-title, div.price-item .price-tag { font-family: "Covered By Your Grace"; } 
.gdl-slider-title{ font-family: "Covered By Your Grace"; } 
.page-header-title, .page-header-caption{ font-family: "Covered By Your Grace"; } 
h1.stunning-text-title, .under-slider-title{ font-family: "Quicksand"; } 
div.navigation-wrapper{ font-family: "Quicksand"; } 
.blog-info-wrapper i{ color: #6e6e6e; }
div.personnal-widget-prev{ background-image: url(https://setemaresturismo.com.br/wp-content/themes/sete_mares/images/icon/dark/personnal-widget-left.png); } 
div.personnal-widget-next{ background-image: url(https://setemaresturismo.com.br/wp-content/themes/sete_mares/images/icon/dark/personnal-widget-right.png); } 
div.gdl-search-button, div.custom-sidebar #searchsubmit{ background: url(https://setemaresturismo.com.br/wp-content/themes/sete_mares/images/icon/dark/search-button.png) no-repeat center; } 
div.top-search-wrapper input[type='submit']{ background: url(https://setemaresturismo.com.br/wp-content/themes/sete_mares/images/icon/light/top-search.png) no-repeat right center;; } 
div.custom-sidebar ul li{ background-image: url(https://setemaresturismo.com.br/wp-content/themes/sete_mares/images/icon/dark/li-arrow.png); } 
ul.gdl-accordion li, ul.gdl-toggle-box li{ background-image: url(https://setemaresturismo.com.br/wp-content/themes/sete_mares/images/icon/dark/accordion-background.png); } 
li.active span.accordion-icon, li.active span.toggle-box-icon{ background-image: url(https://setemaresturismo.com.br/wp-content/themes/sete_mares/images/icon/dark/accordion-title-active.png); } 
span.accordion-icon, span.toggle-box-icon{ background-image: url(https://setemaresturismo.com.br/wp-content/themes/sete_mares/images/icon/dark/accordion-title.png); } 
div.gdl-carousel-testimonial .testimonial-icon{ background-image: url(https://setemaresturismo.com.br/wp-content/themes/sete_mares/images/icon/dark/testimonial-quote.png); } 
div.blog-carousel-wrapper .blog-nav.left, div.portfolio-carousel-wrapper .port-nav.left, div.portfolio-carousel-description .port-nav.left, div.single-portfolio .port-prev-nav a{ background-image: url(https://setemaresturismo.com.br/wp-content/themes/sete_mares/images/icon/dark/nav-left.png); } 
div.blog-carousel-wrapper .blog-nav.right, div.portfolio-carousel-wrapper .port-nav.right, div.portfolio-carousel-description .port-nav.right, div.single-portfolio .port-next-nav a{ background-image: url(https://setemaresturismo.com.br/wp-content/themes/sete_mares/images/icon/dark/nav-right.png); } 
@media only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1),
only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2) {
div.top-search-wrapper input[type='submit']{ background: url(https://setemaresturismo.com.br/wp-content/themes/sete_mares/images/icon/light/top-search@2x.png) no-repeat right center;; } 
li.active span.accordion-icon, li.active span.toggle-box-icon{ background-image: url(https://setemaresturismo.com.br/wp-content/themes/sete_mares/images/icon/dark/accordion-title-active@2x.png); } 
span.accordion-icon, span.toggle-box-icon{ background-image: url(https://setemaresturismo.com.br/wp-content/themes/sete_mares/images/icon/dark/accordion-title@2x.png); } 
div.gdl-carousel-testimonial .testimonial-icon{ background-image: url(https://setemaresturismo.com.br/wp-content/themes/sete_mares/images/icon/dark/testimonial-quote@2x.png); } 
div.blog-carousel-wrapper .blog-nav.left, div.portfolio-carousel-wrapper .port-nav.left, div.portfolio-carousel-description .port-nav.left, div.single-portfolio .port-prev-nav a{ background-image: url(https://setemaresturismo.com.br/wp-content/themes/sete_mares/images/icon/dark/nav-left@2x.png); } 
div.blog-carousel-wrapper .blog-nav.right, div.portfolio-carousel-wrapper .port-nav.right, div.portfolio-carousel-description .port-nav.right, div.single-portfolio .port-next-nav a{ background-image: url(https://setemaresturismo.com.br/wp-content/themes/sete_mares/images/icon/dark/nav-right@2x.png); } 
}
div.footer-wrapper div.custom-sidebar ul li{ background: url(https://setemaresturismo.com.br/wp-content/themes/sete_mares/images/icon/light/li-arrow.png) no-repeat 0px center; } 
div.footer-wrapper div.custom-sidebar #searchsubmit{ background: url(https://setemaresturismo.com.br/wp-content/themes/sete_mares/images/icon/light/search-button.png) no-repeat center; } 
div.footer-wrapper div.personnal-widget-prev{ background-image: url(https://setemaresturismo.com.br/wp-content/themes/sete_mares/images/icon/light/personnal-widget-left.png); } 
div.footer-wrapper div.personnal-widget-next{ background-image: url(https://setemaresturismo.com.br/wp-content/themes/sete_mares/images/icon/light/personnal-widget-right.png); } 
div.footer-gallery-nav-left{ background-image: url(https://setemaresturismo.com.br/wp-content/themes/sete_mares/images/icon/light/nav-left.png); } 
div.footer-gallery-nav-right{ background-image: url(https://setemaresturismo.com.br/wp-content/themes/sete_mares/images/icon/light/nav-right.png); } 
.flex-carousel .flex-direction-nav li a.flex-prev{ background: url(https://setemaresturismo.com.br/wp-content/themes/sete_mares/images/icon/light/carousel-nav-left.png) no-repeat; } 
.flex-carousel .flex-direction-nav li a.flex-next{ background: url(https://setemaresturismo.com.br/wp-content/themes/sete_mares/images/icon/light/carousel-nav-right.png) no-repeat; } 
div.contact-form-wrapper input[type="text"], div.contact-form-wrapper input[type="password"], div.contact-form-wrapper textarea, div.sidebar-wrapper #search-text input[type="text"], div.sidebar-wrapper .contact-widget input, div.custom-sidebar .contact-widget textarea, div.comment-wrapper input[type="text"], div.comment-wrapper input[type="password"], div.comment-wrapper textarea{ color: #888888; background-color: #ffffff; border-color: #e3e3e3; -webkit-box-shadow: #ececec 0px 1px 4px inset, #f7f7f7 -5px -5px 0px 0px, #f7f7f7 5px 5px 0px 0px, #f7f7f7 5px 0px 0px 0px, #f7f7f7 0px 5px 0px 0px, #f7f7f7 5px -5px 0px 0px, #f7f7f7 -5px 5px 0px 0px ; box-shadow: #ececec 0px 1px 4px inset, #f7f7f7 -5px -5px 0px 0px, #f7f7f7 5px 5px 0px 0px, #f7f7f7 5px 0px 0px 0px, #f7f7f7 0px 5px 0px 0px, #f7f7f7 5px -5px 0px 0px, #f7f7f7 -5px 5px 0px 0px ; } 

div.footer-twitter-wrapper div.gdl-twitter-navigation a{ color: #f58345;}
div.footer-twitter-wrapper div.gdl-twitter-navigation a{ background: #ffffff;}
div.port-nav-wrapper a.view-all-projects i{ color: #dddddd; }
div.stunning-text-wrapper .stunning-text-button-mobile, 
div.stunning-text-wrapper .stunning-text-button-wrapper{ 
background: #f16337; 
}
.gdl-button, button, input[type="submit"], input[type="reset"], input[type="button"]{ 
border-color: #ab5c30;
}
div.price-button-wrapper .gdl-button{ 
border-color: #ab5c30;
}
div.under-slider-wrapper .under-slider-button{ 
border-color: #353535;
}
