<div class="row">
    <div class="twelve columns">
        <h2 style="text-align: center;margin: 0;">
            <span style="color: #f58345;" class="title1">Data de Check-in:</span><div class="hidden">[text* products id:list_products class:hidden]  </div>
        </h2>
    </div>
    <div class="twelve columns">
        <div class="row-center">
            <div class="row inputs-daterange">
                <div class="twelve columns ">
                    [text* date-check-in id:start class:field-init class:date placeholder "check-in"]
                </div>
                <div class="six columns hidden">
                    [text* date-check-out id:end class:field-end class:date placeholder "check-out"]
                </div>
                <div class="twelve">
                    <p style=" text-align: center; ">Pacotes de domingo a domingo.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="twelve columns">
        <br>
        <h2 style="text-align: center;">
            <span style="color: #f58345;" class="title1">Quantidade de pessoas:</span>
        </h2>
    </div>
    <div class="clear"></div>
    <div class="twelve columns">

        <div class="row">

            <div class="three columns">
                <b>Adulto (+ 18 anos)</b>
                [select* quantity-adult class:field-select "1" "2" "3"]
            </div>
            <div class="three columns">
                <b>Adolescente (12 a 17 anos)</b>
                [select* quantity-adolescente class:field-select "0" "1" "2" "3"]
            </div>
            <div class="three columns">
                <b>Criança (2 a 11 anos)</b>
                [select* quantity-child class:field-select "0" "1" "2" "3"]
            </div>
            <div class="three columns">
                <b>Bebê (0 a 2 anos)</b>
                [select* quantity-baby class:field-select "0" "1" "2" "3"]
            </div>

        </div>
    </div>

    <div class="clear"></div>
    <div class="twelve columns">
        <div class="row string-formater">

            <div class="five columns">
                <p style="text-align: right;"> Vai viajar com crianças de 2 a 3 anos? </p>
            </div>
            <div class="seven columns">
                <div> <b class="tooltip" style="float: left; margin-right: 5px;"> <a>CLIQUE AQUI</a> <div class="tooltiptext">Este serviço possibilita que crianças a partir de 3 anos sejam conduzidas em um jardim de neve e tenham sua primeira experiência neste ambiente. Elas são apresentadas ao ski (mas não descem a montanha). <br>*Vagas limitadas por semana nos Villages: <ul> <li>• Grand Massif Samooens Morillon</li> <li>• La Plagne 2100</li> <li>• Alpe d´Huez</li> <li>• Les Arcs Panorama</li> <li>• Serre Chevalier</li> <li>• Valmorel</li> </ul> </div> </b> <b> e conheça o <span> Programa Prazeres na Neve do Club Med! </span></b> </div>
            </div>

            <div class="clear"></div>

            <div class="twelve columns">

                <div class="row">

                    <div class="twelve columns">

                        <h2 style="text-align: center;">
                            <span style="color: #f58345;" class="title1">Seus dados:</span>
                        </h2>

                    </div>

                    <div class="three columns">
                        [text* nome placeholder "nome completo"]
                    </div>
                    <div class="three columns">
                        [email* email placeholder "e-mail"]
                    </div>
                    <div class="three columns">
                        [text* telefone class:tel placeholder "telefone"]

                    </div>
                    <div class="three columns">
                        [text num_socio_club_med placeholder "número de sócio Club Med"]

                    </div>
                    <div class="twelve columns">
                        [textarea mais-info placeholder "Alguma informação adicional?"]

                    </div>

                    <div class="twelve columns">

                        [submit class:botao1 "SOLICITAR COTAÇÃO"]
                    </div>
                </div>

            </div>
        </div>

    </div>

</div>


    <div class="clear"></div>