<h3>Try to find an answer here</h3>
<p>
	This integrated documentation is inteded to give you information about the usage of the plugin. It contains the most common questions such as how can you insert the slider into your pages or create multilingual sliders.
</p>

<h3>Check out our item support page & FAQs</h3>
<p>
	If you didn't find the answer you are have looked for in this documentation, you can also try to search through our ticket system or item FAQs on the following URL:<br><br>

	<a href="https://support.kreaturamedia.com/" target="_blank">https://support.kreaturamedia.com/</a>
</p>