<h3>Getting started</h3>
<p>
	We understands that getting started with LayerSlider WP can be tough for some users,
	so we created a video which helps you understand the basic concept of how the plugin
	works. It mostly aims animations, this is the tricky part for most of our costumers.
	<br><br>

	Before you watch this video, we reccomend you to read the rest of this documentation
	to have a feeling about how things works, some familiarity with the settings and the
	interface can be a good point and it helps you to fill the gaps for things isn't in
	the video.
	<br><br>

	Please note that this video is available in Full HD, so in fullscreen mode you can
	see our settings fields and their values.
</p>
<p>
	<iframe width="640" height="360" src="https://www.youtube.com/embed/ZY9SxVyugx4" frameborder="0" allowfullscreen></iframe>
</p>