<h3>Ordering slides</h3>
<p>
	Your slide tabs are drag n' drop enabled, you can grab any and reorder them as you like.
</p>

<h3>About slide transitions</h3>
<p>
	Since LayerSlider WP version 4.0.0, there are more than 200 built-in preset slide transitions.
	If you create a new slider, the new slide transition will be used by default, but you can still
	use the old one with the switch in the slide options.<br><br>

	You can choose transitions you like with the "Select transitions" button. If you choose more
	than one transition, LayerSlider will use a random one from your selection. If you don't choose
	any of them, a random one from all the available transitions will be used.<br><br>

	Please note that you have to save your slider after selecting new slide transitions.
</p>

<h3>Easing options</h3>
<p>
	Easings are timing functions of the animations, you can manipulate the objects movement with it.
	Please visit <a href="https://easings.net/" target="_blank">this page</a> to find out more about
	easings and see real-time examples.
</p>