<h3>Naming layers</h3>
<ul>
	<li>
		To add a name to a layer just simply click on its default name and type the new name.
	</li>
<ul>

<h3>Ordering layers</h3>
<ul>
	<li>
		You can grab any layer and drag it to up or down in the layers list. The last layer in the list will be above all the others inside the slide.
	</li>
<ul>

<h3>Layer tabs</h3>
<ul>
	<li>
		<strong>Basic</strong>
		Here you can select the type of your layer which either an image, or any of the available
		text type with the contents. Text layers can contain any HTML code, so you can intert anything,
		for example a Youtube video with its embed code.
	</li>
	<li>
		<strong>Option</strong>
		In this section you can customize your layer animation settings, including delays, durations and easings.
		There is an option to hide this layer, so it won't show up in your slider. If you want to create
		more similar layers, you can also duplicate it.
	</li>
	<li>
		<strong>Link</strong>
		If you want to link your sublayer, you can enter the URL here and select a target which controls the link
		behaviour. _self means that the link will open in the current tab/window while the _blank will always
		create a new tab/window.
	</li>
	<li>
		<strong>Style</strong>
		In this tab you can customize your sublayer appearance. Please see the tooltip messages for example codes for
		each field. If there is no option for your needs, you can enter your custom CSS code in the "Custom Styles"
		text field. Please note that the above fields will always override the custom style settings if they have the
		same settings.
	</li>
	<li>
		<strong>Attributes</strong>
		If you want to work with this layer in your custom Javascript or CSS code, you can apply attributes on it, such
		as ID, classes, alternate text for images and so on.
	</li>
<ul>

<h3>Easing options</h3>
<p>
	Easings are timing functions of the animations, you can manipulate the objects movement with it.
	Please visit <a href="https://easings.net/" target="_blank">this page</a> to find out more about
	easings and see real-time examples.
</p>