<h3>Easings</h3>
<p>
	Easings are timing functions of the animations, you can manipulate the objects movement with it.
	Please visit <a href="https://easings.net/" target="_blank">this page</a> to
	find out more about easings and see real-time examples.
</p>